{% extends 'baseEmployee.html'%}
{% load static %}

{% block title %}Gerenciar agendamentos{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/pages/schedule.css' %}" >
{% endblock style%}

{% block content %}
    <main class="container">
        <header class="headerSchedule">
            <h1 class="pageTitle">Incluir novo agendamento</h1>
            <a href="{% url 'schedule_select_customer' %}" class="deleteButton">Voltar</a>
        </header>
        <span class="separatorDetail"></span>

        <div class="containerCustomerSelected">Cliente selecionado: <strong>{{customerSelected.name}}</strong></div>

        <form id="createScheduleForm" method="post" class="formContainer">
            {% csrf_token %}
            <div class="formData">
                <section class="sectionData">  
                    <input type="hidden" name="idCustomer" value="{{customerSelected.id}}"/>

                    <div class="fieldsData">
                        <div class="inputContainer">
                            <label for="idEmployee">Funcionario</label>
                            <select id="idEmployee" name="idEmployee">
                                {% for choice in form.idEmployee.field.choices %}
                                    <option value={{choice.0}}>{{choice.1}}</option>
                                {% endfor %}
                            </select>
                            <span id="error-employee"></span>
                        </div>
                        <div class="inputContainer">
                            <label for="idService">Serviço</label>
                            <select id="idService" name="idService">
                                {% for choice in form.idService.field.choices %}
                                    <option value={{choice.0}}>{{choice.1}}</option>
                                {% endfor %}
                            </select>
                            <span id="error-service"></span>
                        </div>
                        <div class="inputContainer">
                            <label for="scheduleDate">Data do agendamento</label>
                            <input type="date" id="scheduleDate" name="scheduleDate"/>
                            <span id="error-scheduleDate"></span>
                        </div>
                        <div class="inputContainer">
                            <label for="scheduleHour">Horário do agendamento</label>
                            <input type="time" id="scheduleHour" name="scheduleHour"/>
                            <span id="error-scheduleHour"></span>
                        </div>
                        <div class="inputContainer">
                            <label for="observation">Observação</label>
                            <textarea id="observation" name="observation"></textarea>
                            <span id="error-observation"></span>
                        </div>
                        {% if scheduleCreated == True %}<span class="successMessage">Agendamento cadastrado com sucesso!</span>{% endif %} 
                    </div>
                </section>
                <section class="sectionEmployeeServices">
                    <div class="fieldsData">
                        <div class="inputContainer">
                            <label for="status">Status do serviço</label>
                            <select id="status" name="status">
                                <option selected value="1">Pendente</option>
                                <option value="2">Concluído</option>
                                <option value="3">Cancelado</option>
                            </select>
                            <span id="error-status"></span>
                        </div>
                        <div id="cancellationReasonContainer" class="inputContainer hide">
                            <label for="cancellationReason">Motivo cancelamento</label>
                            <textarea id="cancellationReason" name="cancellationReason"></textarea>
                            <span id="error-cancellationReason"></span>
                        </div>
                        <div id="whoCanceledContainer" class="inputContainer hide">
                            <label for="whoCanceled">Quem cancelou</label>
                            <select id="whoCanceled" name="whoCanceled">
                                <option selected value="1">Cliente</option>
                                <option value="2">Funcionário</option>
                            </select>
                            <span id="error-whoCanceled"></span>
                        </div>
                    </div>
                </section>
            </div>   
            <button class="createButton" type="submit">Cadastrar agendamento</button>      
        </form>
    </main>
    <script type="module" src={% static 'scripts/schedule_register.js' %}></script>
{% endblock content %}
