{% extends 'baseEmployee.html'%}
{% load static %}

{% block title %}Gerenciar agendamentos{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/pages/schedule.css' %}" >
{% endblock style%}

{% block content %}
    <main class="container">
        <header class="headerSchedule">
            <h1 class="pageTitle">Lista de agendamentos</h1>
            <a href="{% url 'schedule_select_customer'%}" class="createButton">Cadastrar novo agendamento</a>
        </header>
        <span class="separatorDetail"></span>

        <form id="filterServiceForm" method="get" class="formFilterContainer">
            <section class="sectionFilterOptions">  
                <div class="titleFilter">
                    <img src={% static '/images/icons/filter.svg'%}/>
                    <strong>Filtrar pesquisa por</strong>
                </div>
                <div class="radioInputContainer">
                    <input type="radio" 
                    {% if filterOption == "Default" or filterOption == "customer" %} checked {% endif %} value="customer" id="customer" name="filterOption"/>
                    <label for="customer">Cliente</label>
                </div>
                <div class="radioInputContainer">
                    <input type="radio" 
                    {% if filterOption == "employee" %} checked {% endif %} value="employee" id="employee" name="filterOption"/>
                    <label for="employee">Funcionário</label>
                </div>
                <div class="radioInputContainer">
                    <input type="radio" 
                    {% if filterOption == "service" %} checked {% endif %} value="service" id="service" name="filterOption"/>
                    <label for="service">Serviço</label>
                </div>
                <div class="radioInputContainer">
                    <input type="radio" 
                    {% if filterOption == "date" %} checked {% endif %} value="date" id="date" name="filterOption"/>
                    <label for="date">Data</label>
                </div>
                <div class="radioInputContainer">
                    <input type="radio" 
                    {% if filterOption == "status" %} checked {% endif %} value="status" id="status" name="filterOption"/>
                    <label for="date">Status</label>
                </div>
            </section>      
            <section class="sectionFilterInput">
                <input type="text" class="searchInput" name="filterValue" id="search-input"/>

                <button disabled id="search-button" value="searchFilteredValue" name="searchButton" class="filterButton" type="submit">
                    <img src={% static '/images/icons/search.svg'%}/>
                    Pesquisar
                </button>
                <button name="searchButton" value="searchAll" class="searchAllButton" type="submit">
                    Limpar filtro
                </button>
            </section>
        </form>

        <form id="actionScheduleForm" method="post" class="listForm">
            {% csrf_token %}
            <div class="containerTable">
                <table class="listTable">
                    <thead class="headerTable">
                        <tr>
                            <th>Sel</th>
                            <th>Data</th>
                            <th>Cliente</th>
                            <th>Funcionário</th>
                            <th>Serviço</th>
                            <th>Status</th>            
                        </tr>
                    </thead>
                    <tbody class="bodyTable">
                        {% for schedule in schedules %}
                        <tr>
                            <td><input type="radio" value="{{schedule.id}}" class="selectedItem" name="selectedId"/></td>
                            <td>{{schedule.scheduleDate}} as {{schedule.scheduleHour}}</td>
                            <td>{{schedule.idCustomer}}</td>
                            <td>{{schedule.idEmployee}}</td>
                            <td>{{schedule.idService}}</td>
                            <td>{% if schedule.status == "1" %} Pendente {% elif schedule.status == "2" %} Concluído {% elif schedule.status == "3" %} Cancelado {% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <span class="deletedItemMessage" id="deletedItemMessage">{% if anyItemWasDeleted == True %} Item deletado {% endif%}</span>

            <div class="containerActions">
                <div class="containerActionButtons">
                    <button name="actionButton" id="edit-button" disabled value="edit" class="editButton">Editar agendamento</button>

                    <button name="actionButton" id="delete-button" disabled value="delete" class="deleteButton">Excluir agendamento</button>
                </div>

                <nav aria-label="...">
                    <ul class="pagination">
                        
                    {% if schedules.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{schedules.previous_page_number}}{% if filterOption != None and filterOption != "Default"%}&filterOption={{filterOption}}{%endif%}{% if searchedValue != None%}&filterValue={{searchedValue}}{%endif%}" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>
                    {%else%}
                    <li class="page-item disabled" aria-current="page">
                        <span class="page-link">Anterior</span>
                    </li>
                    {% endif %}
                
                    {% for num in schedules.paginator.page_range %}
                        {% if num == schedules.number %}
                        <li class="page-item active">
                            <span class="page-link">{{num}}</span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'schedule_list' %}?page={{num}}{% if filterOption != None and filterOption != "Default"%}&filterOption={{filterOption}}{%endif%}{% if searchedValue != None%}&filterValue={{searchedValue}}{%endif%}
                            ">{{num}}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                
                    {% if schedules.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{schedules.next_page_number}}{% if filterOption != None and filterOption != "Default"%}&filterOption={{filterOption}}{%endif%}{% if searchedValue != None%}&filterValue={{searchedValue}}{%endif%}">Próxima</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Próxima</span>
                        </li>
                    {% endif %}
                
                    </ul>
                </nav>
            </div>
        </form>
    </main>
    <script type="module" src={% static 'scripts/schedule.js' %}></script>
{% endblock content %}
