{% load static %}

<header class="header">
    <div class="headerContainer">
        <nav class="navPrimary">
            <a href="{% url 'employee'%}" class="logoLight">Now Salon</a>
            <ul class="navManageListContainer">
                <li>
                    <a href="#myservices">Meus serviços</a>
                </li>
                {% if employeeAccessLevel == '1' %}
                    <li id="item-container-manage" class="navManageListContainer">
                        <button id="button-dropdown-manage">Gerenciar <img src="{% static 'images/icons/chevron-down.svg'%}"></button>

                        <ul id="dropdown-manage-list" class="navManageList">
                            <li><a href={% url 'salon' 1 %}>Estabelecimento</a></li> 
                            <li><a href="#services">Serviços</a></li> 
                            <li><a href="#employees">Funcionários</a></li> 
                            <li><a href="#customers">Clientes</a></li> 
                            <li><a href="#schedules">Agendamentos</a></li> 
                        </ul>
                    </li>
                {% endif %}   
            </ul>
    </nav>

        <a class="btnSair" href={% url 'logout' %}>Sair</a>
    </div>
   
</header>

<script type="module" src={% static 'scripts/employeeHeader.js'%}></script>