.formFilterContainer{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.btnActionForm{
    display: flex;
    gap:3rem;
}

.sectionFilterOptions{
    display:flex;
    flex-wrap: wrap;
    gap:1.4rem;
}

.titleFilter{
    display: flex;
    gap:1rem;
    align-items: center;
}

.titleFilter > strong{
    font-family: "Raleway", sans-serif;
    color: var(--color-gray-900);
    font-size: 1.4rem;
    font-weight: 600;
}

.sectionFilterInput{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.searchInput{
  border-radius: 5px;
  padding:0.4rem; 
  font-size: 1.2rem;
  border: 1px solid black;
  width: 300px;
}

.filterButton{
   border:none;
   display: flex;
   border-radius: 5px;
   align-items: center;
   gap:1rem;
   padding: 0.6rem 1rem;
   background: var(--color-gray-900);
   color: var(--color-white);
   cursor:pointer;
}

.filterButton:hover{
    background: var(--color-gray-1000);
}

.filterButton:disabled{
    background: var(--color-gray-400);
    cursor: not-allowed;
}

.searchAllButton{
    border:none;
    display: flex;
    border-radius: 5px;
    align-items: center;
    gap:1rem;
    padding: 0.6rem 1rem;
    border: 2px solid var(--color-gray-800);
    color: var(--color-gray-900);
    cursor:pointer;
    background: none;
 }
 
 .searchAllButton:hover{
    border: 2px solid var(--color-gray-1000);
    color: var(--color-black);
  }