:root{
    --color-black: #000000;
    --color-gray-1100: #121212;
    --color-gray-1000: #2C2C2C;
    --color-gray-900: #434343;
    --color-gray-800: #636363;
    --color-gray-700: #838383;
    --color-gray-600: #999999;
    --color-gray-500: #B6B6B6;
    --color-gray-400: #CACACA;
    --color-gray-300: #DBDBDB;
    --color-gray-200: #EFEFEF;
    --color-gray-100: #F9F9F9;
    --color-white: #ffffff;

    --color-primary-100: #FFF7E9;
    --color-primary-200: #F9DB8D;
    --color-primary-300: #F2C03E;
    --color-primary-400: #E7A908;
    --color-primary-500: #C08C04;
    --color-primary-600: #927200;
    --color-primary-700: #705A0B;

    --color-secondary-100: #EFF9FC;
    --color-secondary-200: #C9EBF3;
    --color-secondary-300: #9DCED9;
    --color-secondary-400: #699EAA;
    --color-secondary-500: #477386;
    --color-secondary-600: #335D75;
    --color-secondary-700: #1D3942;

    --color-red-100: #fdcccc;
    --color-red-300: #FF8686;
    --color-red-400: #D14242;
    --color-red-600: #AF3C3C;

    --color-green-200: #e9ffe2;
    --color-green-400: #8FE372;
    --color-green-600: #5dc43a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 0;
    box-shadow: 0 0 8 2px var(--color-primary-500);
}

body{
    -webkit-font-smoothing: antialiased;
}

body, input-security, textarea, button{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 1rem;
}