{% load static %}

<!DOCTYPE html>
<html lang ="pt-br">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" type="image/x-icon" href="{% static 'images/iconNowSalon.ico' %}">
        <title>{% block title %}Now Salon{% endblock title%}</title>
        
        {% block style %}{% endblock style%}

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        {% block header %}
            {% include 'components/header.html'%}
        {% endblock header %}
        {% block content %}
            <h1>Page on building proccess</h1>
        {% endblock content %}
        {% block footer %}
            {% include 'components/footer.html'%}
        {% endblock footer %}
    </body>
</html>

